{% extends "pages/richtextpage.html" %}

{% block main %}
<!--
This template is provided as a custom template for the homepage, for
when it is configured as an editable page in the navigation tree. Feel
free to modify it.
-->
    <div class="row" style="padding-top:5px;">
                <div class="col-md-12 col-xs-12">
                    <hr style="margin-top:5px; margin-bottom: 0px; " />
                    <a href="#" class="thumbnail" style="margin:0px; padding:0px; border: 0px;">
                        <img src="{% static "Snips/Chari-UNITY1-FB-Cover.jpg" %}" alt="" style="height:320px; width:100%;">
                    </a>
                    <hr style="margin-top:0px; margin-bottom: 10px;" />
                </div>
            </div>
            <div class="row">
                <div class="row" style="padding:18px;">
                    <div class="col-md-6">
                        <h2 style="color:red;">Headline</h2>
                        <hr style="margin-top:0px; margin-bottom: 10px;">
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar faucibus neque, nec rhoncus nunc ultrices sit amet. Curabitur ac sagittis neque,</p>
                        <p class="text-right"><a class="btn btn-primary" href="#" role="button">View details »</a></p>
                    </div>
                    <div class="col-md-6">
                        <h2 class=""><h2 style="color:orange;">Headline</h2></h2>
                        <hr style="margin-top:0px; margin-bottom: 10px;" />
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar faucibus neque, nec rhoncus nunc ultrices sit amet. Curabitur ac sagittis neque,</p>
                        <p class="text-right"><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2><h2 style="color:blue;">Headline</h2></h2>
                    <hr style="margin-top:0px; margin-bottom: 10px;" />
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar faucibus neque, nec rhoncus nunc ultrices sit amet. Curabitur ac sagittis neque,</p>
                    <p class="text-right"><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-md-6">
                    <h2><h2 style="color:green;">Headline</h2></h2>
                    <hr style="margin-top:0px; margin-bottom: 10px;" />
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar faucibus neque, nec rhoncus nunc ultrices sit amet. Curabitur ac sagittis neque, vel egestas est. Aenean elementum, erat at aliquet hendrerit, elit nisl posuere tortor, id suscipit diam dui sed nisi. Morbi sollicitudin massa vel tortor consequat, eget semper nisl fringilla. Maecenas at hendrerit odio. Sed in mi eu quam suscipit bibendum quis at orci. Pellentesque fermentum nisl purus, et iaculis lectus pharetra sit amet.</p>
                    <p class="text-right"><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
                </div>
            </div>
            <hr style="margin-top:0px; margin-bottom: 10px;" />
            <div class="row text-left" style="padding-left:50px;">
                <div class="col-md-3">
                    <h3><b>Who We Are</b></h3>
                    <div class="list-group">
                        <a href="#" class="list-group-item">Our Philosophy</a>
                        <a href="#" class="list-group-item">Our Mission</a>
                        <a href="#" class="list-group-item">Our Team</a>
                        <a href="#" class="list-group-item">Contact Information</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <h3><b>What We Do</b></h3>
                    <div class="list-group">
                        <a href="#" class="list-group-item">Disaster Relief</a>
                        <a href="#" class="list-group-item">Educational Services</a>
                        <a href="#" class="list-group-item">Medical Aid</a>
                        <a href="#" class="list-group-item">Upcoming Events</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <h3><b>Gallery</b></h3>
                    <div class="list-group">
                        <a href="#" class="list-group-item">Event #1</a>
                        <a href="#" class="list-group-item">Event #2</a>
                        <a href="#" class="list-group-item">Event #3</a>
                        <a href="#" class="list-group-item">Event #4</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <h3><b>Blog</b></h3>
                    <div class="list-group">
                        <a href="#" class="list-group-item">Title #1</a>
                        <a href="#" class="list-group-item">Title #2</a>
                        <a href="#" class="list-group-item">Title #3</a>
                        <a href="#" class="list-group-item">Title #4</a>
                    </div>
                </div>
            </div>
            <hr style="margin-top:15px; margin-bottom: 10px;" />
            <footer class="footer" style="padding-top:0px; margin-top:0px; border:0px; background:white;">
                <div class="row">
                    <div class="col-md-2">
                        <p>About Us</p>
                    </div>
                    <div class="col-md-2">
                        <p>Contact Us</p>
                    </div>
                    <div class="col-md-2">
                        <p>Legal</p>
                    </div>
                    <div class="col-md-2 col-md-push-4">
                        <p class="text-right">DONATE</p>
                    </div>
                </div>
            </footer>
            <!-- Jumbotron -->
            <!-- Example row of columns -->
            <!-- Site footer -->
        </div>
        <script src="{% static "assets/js/jquery.min.js" %}"></script>
        <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="{% static "assets/js/ie10-viewport-bug-workaround.js" %}"></script>
        <script text="JavaScript">
            $( document ).ready(function() {
                $( "#chariunitylogo" ).fadeIn( "slow" );
            });
        </script>
        <script src="{% static "js/main.js" %}"></script>

{{ block.super }}
{% endblock %}
